<section class="section-two">  
            
    <h2 class="pregunta">¿Por qué pasarte a Premium?</h2>


    <div class=parejas>
        <div class="icono">
            <img class="icons" src="./images/benefit-1.png" alt="">
        </div>
        <div class="contenido">
            <h3>Descarga música.</h3>
            <p>Llévala simpre contigo.</p>
        </div>
    </div>

    <div class=parejas>
        <div class="icono">
            <img class="icons" src="./images/benefit-2.png" alt="">
        </div>     
        <div class="contenido">
            <h3>Sin anuncios.</h3>
            <p>Disfruta de música sin interrupciones.</p>
        </div>
    </div>
    
    <div class=parejas>
       <div class="icono">
            <img class="icons" src="./images/benefit-3.png" alt="">
            </div>
       <div class="contenido">
            <h3>Escucha lo que quieras.</h3>
            <p>Incluso en el móvil.</p>
            </div>
    </div>

    <div class=parejas>
       <div class="icono">
            <img class="icons" src="./images/benefit-4.png" alt="">
            </div>
       <div class="contenido">
            <h3>Salta todas las canciones que quieras.</h3>
            <p>Simplemente dale a siguiente.</p>
            </div>
    </div>
           
</section>

</main>
<footer class="footer">
 <div class="legal-cookies">
    <ul>
        <li><a class="texto-footer" href="#">Legal</a></li>
        <li><a class="texto-footer"href="#">Cookies</a></li>
    </ul>
 </div>
 <div class="informacion"></div>
        <a class="texto-footer"href="#">Información sobre los anuncios</a>
<div class="españa-cookies">
    <ul>
        <li><img src="../images/es.svg" alt="Bandera de España" class="spain"><a class="texto-footer" href="#"> España</a></li>
        <li class="texto-footer" >© 2019 Spotify AB</li>
        
    </ul>
</div>